ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.item-children {
    margin-left: 30px;
}

.content {
    margin-left: 20%;
    width: 100%;
}

.content em,
.content .check,
.content .unSelect {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.content .check,
.content .unSelect,
.content i,
.content .falses {
    background: url('../../images/checkbox.jpg') no-repeat;
    background-position: -368px -140px;
    transform: scale(0.5);
    width: 40px;
    height: 40px;
    display: inline-block;
}

.content .select,
.content .all {
    background: url('../../images/checkbox.jpg') no-repeat;
    background-position: -420px -140px;
    transform: scale(0.5);
    width: 40px;
    height: 40px;
    display: inline-block
}

.content .mid {
    background: url('../../images/checkbox.jpg') no-repeat;
    background-position: -245px -140px;
    transform: scale(0.5);
    width: 40px;
    height: 40px;
    display: inline-block
}

.content em.open {
    background: url(/static/media/icons.5859e577.png) no-repeat;
    background-position: -68px -161px;
}

.content em.fold {
    background: url(/static/media/icons.5859e577.png) no-repeat;
    background-position: -91px -161px;
}